@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #3b82f6;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 overflow-x-hidden;
  }
}