@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #0284c7;
  --color-accent: #38bdf8;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 overflow-x-hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}